/**
 * Form.module.css
 *
 * @format
 */

.formContainer {
  width: 70%;
  margin: 0 auto;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 4rem;
}

h2 {
  text-align: center;
  margin-bottom: 30px;
  color: #333;
}

.formGroup {
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
}
.formOptionGroup {
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  div {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    padding: 0 2rem;
  }
}

.formGroup label {
  font-size: 16px;
  color: #212121;
  font-size: 1.4rem;
  font-weight: 600;
  width: 300px;
  display: inline-block;
}
.formOptionGroup label {
  font-size: 16px;
  color: #212121;
  font-size: 1.4rem;
  font-weight: 600;
  display: inline-block;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.formGroup input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ced4da;
  border-radius: 6px;
  font-size: 16px;
  transition: border-color 0.3s ease-in-out;
  color: #555; /* Adjust input text color */
}
.formGroup select {
  width: 100%;
  padding: 12px;
  border: 1px solid #ced4da;
  border-radius: 6px;
  font-size: 16px;
  transition: border-color 0.3s ease-in-out;
  color: #555; /* Adjust input text color */
}

.formOptionGroup input {
  width: 20px;
  height: 20px;
  padding: 12px;
  border: 1px solid #ced4da;
  border-radius: 6px;
  font-size: 16px;
  transition: border-color 0.3s ease-in-out;
  color: #555; /* Adjust input text color */
}

.formGroup input:focus {
  outline: none;
  border-color: #007bff;
}

.button {
  width: 100%;
  background-color: #007bff;
  color: #fff;
  padding: 12px; /* Increase button padding */
  border: none;
  outline: none;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 6px;
  transition: background-color 0.3s ease-in-out;
}

.button:hover {
  background-color: #0056b3; /* Darker shade on hover */
}
